body{
    box-sizing: border-box;
}
.raw1{
    display: flex;
    background: #06bbd3;
    flex-wrap: wrap;
    width: 1000px;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
    padding: 20px;
}
.raw{
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    flex-direction: column;
    width: 450px;
    background: #fcfdfd;
    border-radius: 3px;
    row-gap: 3px;
}
.a{
    height: 100px;
    width: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b{
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #f3ae54;
}
.c{
    width: 334px;
    color: #949494;
    padding-right: 10px;

}
i{
    font-size: 40px;
    color: #949494;
}